*.iml
.gradle
/local.properties
/app/src/main/res/raw/credentials.json
/app/src/main/resources/credentials.json
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
.cxx
local.properties
